body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, helvetica;
    color: white;
    background-color: black;
}

button {
    border-width: 4px;
    border-color: gray;
    padding: 4pt;
    margin: 4pt;
}

._header {
    padding: 4pt;
    height: 100%;
    background-color: #121267;
    top: 0;
    text-align: center;
    align-items: center;
    border-bottom: 0.2vh solid #CCCCCC;
}

._leftSidebar {
    height: 93vh;
    width: 15vh;
    background-color: #121267;
    padding: 4pt;
    left: 0;
    text-align: left;
    align-items: center;
    border-right: 0.2vh solid #CCCCCC;
}

._content {
    width: auto;
    padding: 4pt;
    text-align: left;
    right: 0;
}

._centerText {
    text-align: center;
}

._footer {
    left: 0;
    bottom: 0;
    background-color: #121267;
    text-align: center;
    border-top: 0.2vh solid #CCCCCC;
}
